@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: #2e2b29  ;
    background-color: #deeff0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130vh;
    box-sizing: border-box;
    gap:3vh;
    overflow: hidden;
}

/* estilos pagina index */
/* HEADER */
.cabecera{
    padding: 1rem;
    margin: -1rem;
    background-color: rgba(255, 0, 0, 0.65);
    width: 100vw;
    height: 8vh;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    min-height: 50px;
}
.cabecera *{
    background-color: initial;
}

.logo{
    width:auto;
    height: 100%;
}
.botones{
    display: flex;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    align-self: center;
    align-items: center;
    justify-content: space-between;
}
.botones a{
    padding: 0.7rem;
    text-decoration: none;
    font-size: auto;
}
.botones a:hover{
    border: #31598c 0.10rem solid;
    background-color: #31588c85;
    border-radius: 20px;
}

/* CUERPO */

.imagenEmpresa{
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-height: 90vh;
    min-height: 30vh;
    border: 2px black solid;
}
.controlR,
.controlL{
    align-self: top;
    margin: -68vh 0 0 0;
    width: 4%;
    background-color: rgba(255, 255, 255, 0);
    height: 110%;
    z-index: 3;
    position: sticky;
    float: right;
}
.controlL{
    float: left;
}
.controlR label,
.controlL label{
    position: sticky;
    transition: opacity 0.2s ease-out;
    display: none;
    width: 100%;
    height: 100%;
    opacity: .4;
    background-repeat: no-repeat;
}
.slide{
    display: flex;
    width: 300%;
    height: 100%;
    transition: margin-left 800ms cubic-bezier(0.770, 0.000,0.175,1.000);
}
.imagenEmpresa input[type=radio]{
    display: none;
}
.slide img{
    width:90vw;
    height: auto;
}

#slide1:checked ~ .slide{
    margin-left: 0%;
}
#slide2:checked ~ .slide{

    margin-left: -100%;
}
#slide3:checked ~ .slide{
    margin-left: -200%;
}

#slide1:checked ~ .controlR label:nth-child(2),
#slide2:checked ~ .controlR label:nth-child(3),
#slide3:checked ~ .controlR label:nth-child(1){
    float: right;
    display: block;
    margin: 0 0 0 0 0;
    background-image: url(../images/arrow-ios-forward.svg);
    background-repeat: no-repeat;
    background-position: center;
}
#slide1:checked ~ .controlL label:nth-child(3),
#slide2:checked ~ .controlL label:nth-child(1),
#slide3:checked ~ .controlL label:nth-child(2){
    float: left;
    display: block;
    margin: 0 0 0 0 0;
    background-image: url(../images/arrow-ios-back.svg);
    background-repeat: no-repeat;
    background-position: center;
}  
    
.productos{
    width: 100%;
    height: 50vh;
    border: 2px black solid;
}
/* FOOTER */
footer{
    border: 2px black solid;
    width: 100%;
    height: 30vh;
}