@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: #2e2b29;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
main{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    gap:9vh;
}

/* estilos pagina index */
/* HEADER */
.cabecera{
    padding: 1rem;
    margin: -1rem;
    width: 100%;
    height: 8vh;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    min-height: 50px;
    box-sizing: border-box;
    position: fixed ;
    z-index: 1;
    overflow: hidden;
}
li{
    list-style: none;
}
.nav{
    --state-close:scale(0);
    --state-open:scale(1);
    --state-menu:translate(-100%);

    padding: 10px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2,max-content);
}
.nav:target{
    --state-close:scale(1);
    --state-open:scale(0);
    --state-menu:translate(0)
}

.nav_hamb,
.nav_close{
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
}

.nav_hamb{
    transform: var(--state-open);
}
.nav_close{
    transform: var(--state-close);
}
header{
    box-sizing: border-box;
}

.logo{
    width:auto;
    height:40px;
    z-index: 1;
}
/* .botones{
    display: flex;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    align-self: center;
    align-items: center;
    justify-content: space-between;
} */
.botones{
    position:fixed;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;

    display: grid;
    align-content: center;
    gap: 2em;
    padding-left: 4%;

    transform: var(--state-menu);
    transition: .3s transform;
}
.botones li,.botones li *{
    background-color: unset;
}
.botones a{

    padding: 0.7rem;
    text-decoration: none;
    font-size: auto;
}
.botones a:hover{
    border: #31598c 0.10rem solid;
    background-color: #31588c85;
    border-radius: 20px;
}

@media (min-width:768px){
    .nav{
        --state-open:scale(0);
        --state-menu:translate(0);
    }
    .nav:target{
        --state-close:scale(0);
    }
    .botones{
        padding: 0;
        position: unset;
        background-color: rgba(255, 255, 255, 0.5);
    
        display: grid;
        align-content: center;
        gap: 1.5em;
        grid-auto-flow: column;
    
        transform: unset;
        
        grid-column: -2/-1;
        grid-row: 1/2;
    }
}

/* CUERPO */

.imagenEmpresa{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100dvw;
    height: 100%;
    min-height: max(70vh,25rem);
    margin-top: -4%;
    margin:-4% -1rem;    
    z-index: 0;
}
.controlR,
.controlL{
    /* margin: -36% 0 0 0;
    width: 4%;
    background-color: rgba(255, 255, 255, 0);
    height: 105%;
    z-index: 3;
    float: right; */
    position: absolute; /* Cambia a posición absoluta */
    top: 0;
    bottom: 0;
    margin: auto; /* Centra verticalmente */
    width: 4%;
    background-color: rgba(255, 255, 255, 0);
    height: 100%; /* Cambia a 100% de altura */
    z-index: 3;
}

.controlL{
    left: 0;
}
.controlR {
    right: 0;
}
.controlR label,
.controlL label{
    position: inherit;
    transition: opacity 0.2s ease-out;
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0.07;
    background-repeat: no-repeat;
}
.controlR label:hover,
.controlL label:hover{
    opacity: 0.4;
}
.slide{
    display: flex;
    z-index: 1;
    width: 300%;
    height: 100%;
    transition: margin-left 800ms cubic-bezier(0.770, 0.000,0.175,1.000);
}
.imagenEmpresa input[type=radio]{
    display: none;
}
.slide img{
    object-fit:cover;
    max-width: 100dvw;
    max-height: 100%;
    width: 100dvw;
    height: auto;
}

#slide1:checked ~ .slide{
    margin-left: 0%;
}
#slide2:checked ~ .slide{

    margin-left: -100%;
}
#slide3:checked ~ .slide{
    margin-left: -200%;
}

#slide1:checked ~ .controlR label:nth-child(2),
#slide2:checked ~ .controlR label:nth-child(3),
#slide3:checked ~ .controlR label:nth-child(1){
    float: right;
    display: block;
    margin: 0 0 0 0 0;
    background-image: url(../images/arrow-ios-forward.svg);
    background-repeat: no-repeat;
    background-position: center;
}
#slide1:checked ~ .controlL label:nth-child(3),
#slide2:checked ~ .controlL label:nth-child(1),
#slide3:checked ~ .controlL label:nth-child(2){
    float: left;
    display: block;
    z-index: 3;
    margin: 0 0 0 0 0;
    background-image: url(../images/arrow-ios-back.svg);
    background-repeat: no-repeat;
    background-position: center;
}  
    
.productos{
    display: grid;
    margin-top: 2%;
    grid-auto-rows: dense;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    width: 100%;
    height: 60%;

}
.producto{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: 5px;
    width: 50%;
    box-shadow: 0 0 8px;
    border: 1px rgba(0, 0, 0, 0.385) solid;
    border-radius: 20px;
    overflow: hidden;
    gap: 15px;
}
.producto img{
    width: 100%;
    height: 70%;
    background-color: black;
}
.producto span, .producto span strong{
    width: 100%;
    text-align: center;
    font-size:  80%;
}
.desc{
    text-align: center;
    float:bottom;
    width: fit-content;
    height: 30%;
}

/* FOOTER */
.informacionFooter{
    border: 2px black solid;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logoFooter img{
    width: auto;
    height: 100%;
}
.logoFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}